*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brand-logo
{
    font-size: 2.2em;
}

#nav-mobile li a
{
    font-size: 1.3em;
}

.sidenav .mobile_brand_logo
{
    height: 25vh;
    padding-top: 3vh;
}

.sidenav .mobile_brand_logo .cloud_icon
{
    color: white;
}
.sidenav span
{
    color: white;
    font-size: 1.5em;
}
.sidenav p
{
    margin-top: 2vh;
    margin-left: 3vw;
    color: white;
    font-size: 1.2em;
    line-height: 1.5em;
}

h4
{
    text-align: center;
    font-size: 2em;
}

h2
{
    text-align: center;
    font-size: 2.5em;
}

h1
{
    text-align: center;
    font-size: 3.5em;
}

#search_box
{
    border: solid;
    height: 7.5vh;
    display: flex;
    align-items: center;
    margin: 10vh auto;
}

#search_box div
{
    border-right: solid;
    height: 7vh;
    margin: 0;
    padding: 0;
}

#search_box select
{
    display: block;
    height: 6.9vh;
    box-shadow: none;
    border:none;
    font-size: 1.5em;
    padding: 0vh 1vw;
    cursor: pointer;
}
#search_box select option
{
    font-size: 0.9em;
}
#search_box select:focus
{
    outline: none;
}

#search_input input
{
    display:block;
    height:7vh;
    padding: 0vh 1vw;
    border:none;
    font-size: 1.5em;
}
#search_input input:focus
{
    outline: none;
}

#search_box #search_button
{
    border-right: none;
}
#search_button button
{
    display: block;
    height:7vh;
    width:3.8vw;
    margin:0vh auto;
    border:none;
    box-shadow: none;
    cursor: pointer;
}
#search_button span
{
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    /* border: solid; */
}

.card_container
{
    margin:5vh auto;
}

.card
{
    margin:2vh 0.5vw;
    height:55vh;
}

.card img
{
    height:30vh;
}

.card-content .card-title
{
    display:block;
    height:12vh;
    overflow:hidden;
}

.card-content footer
{
    margin-top: 4vh;
}

.poster i
{
    font-size: 8em;
}

.poster_para
{
    font-size: 1.4em;
}

.about_right h4
{
    font-size: 1.1em;
}

.about_main
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about_main h2
{
    font-weight: 600;
}

dl
{
    display: flex;
    font-size: 1.6em;
    flex-direction: column;
    margin-bottom:10vh;
}

dt
{
    font-weight: 600;
}

dl div
{
    padding:2.5vh 0vw;
}

.about_right
{
    font-size: 1.6em;
    margin:5vh 0vw;
    text-align: center;
    /* border: solid; */
}
.about_right img
{
    display:block;
    width:12vw;
    margin:4vh auto;
    border:solid;
    border-radius: 20px;
}

.aside_main
{
    display: flex;
    flex-direction: column;
}
.aside_main div
{
    margin:0vh 1vw;
}
.aside_main h4
{
    font-weight: 600;
}
.aside_main p
{
    font-size: 0.9em;
}

@media screen and (max-width: 1400px) {
    .card img
    {
    height:30vh;
    }
    .card
    {
      height: 55vh;
    }
    .card-content .card-title
    {   
        display:block;
        height:10vh;
    }
    .card-content footer
    {
        margin-top: 2vh;
    }
  }

@media screen and (max-width: 1000px) {
    nav a .cloud_icon
    {
        display: none;
        /* font-size: 0.9em; */
    }
    nav .brand-logo
    {
        font-size: 1.3em;
        font-weight: 600;
        /* text-overflow: ellipsis; */
    }
    h1
    {
        font-size: 2.5em;
    }
    .card
    {
      height: 63vh;
    }
    .card img
    {
    height:35vh;
    }
    .card-content .card-title
    {   
        display:block;
        height:14vh;
    }
    .card-content footer
    {
        margin-top: 3vh;
    }
    .about_right img
    {
        display:block;
        width:40vw;
        margin:0vh auto;
        border:solid;
        border-radius: 20px;
    }
    #search_button button
    {
        width:6vw;
    }
    .poster_card
    {
        margin-bottom:8vh;
    }

    .about_left h2
    {
        font-size: 2em;
    }
    dl
    {
        font-size: 1.4em;
    }
    .about_right h4
    {
        font-size: 1em;
    }
  }