{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row poster">
    <div class="col s12 m6 l4">
        <div class="center">
            <i class="large material-icons" style="color: orange;">flash_on</i>
            <h4>Fast Web Scraper</h4>
            <p class="light center poster_para">Search For Classified Ads At Lightning Speed.</p>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="center">
            <i class="large material-icons" style="color: blueviolet;">chrome_reader_mode</i>
            <h4>Appealing UI</h4>
            <p class="light center poster_para">Search And Browse With A Simple And Attractive UI.</p>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="center">
            <i class="large material-icons" style="color: red;">filter_list</i>
            <h4>Filter Searches</h4>
            <p class="light center poster_para">Search Items According To Your Desired City.</p>
        </div>
    </div>
</div>
{% endblock content %}